body{
    display: flex;
}

.navbar {
    height: 100%;
    width: 20%;
}

.header{
    height: 15%;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 70%;
}

.content{
    height: 100%;
    width: 80%;
}

.footer{
    height: 15%;
}

.some-class-name {
    height: 99vh;
    width: 80%;
    margin-left: 10%;
}

.content-head {
    background-color: greenyellow;
    width: 100%;
    height: 20%;
}

.content-inside {
    height: 80%;
    width: 100%;
}